<h1>Tags</h1>

<% @tags.each do |tag| %>


<div class="well">
  <h2>#<%= link_to tag.name, tag %></h2>


  <%= link_to 'Delete', tags, method: :delete, confirm: 'Are you sure?', class: 'btn btn-danger btn-xs glyphicon glyphicon-trash pull-right' %>
</div>


<% end %>